<template>

  <div class="container">

    <div class="row">

     <b-nav pills>
      <b-nav-item>
        <router-link :to="{name: 'Product'}">product</router-link>
      </b-nav-item>
      <b-nav-item>
        <router-link :to="{name: 'Category'}">category</router-link>
      </b-nav-item>
      <b-nav-item>
        <router-link to="#">status</router-link>
      </b-nav-item>
      <b-nav-item>
        <router-link to="#">table</router-link>
      </b-nav-item>
      <b-nav-item>
        <router-link to="#">view</router-link>
      </b-nav-item>
      <b-nav-item>
        <router-link to="order" append>order</router-link>
      </b-nav-item>
      <b-nav-item>
        <router-link to="extra" append>extra</router-link>
      </b-nav-item>
     </b-nav>

    </div>

    <div class="row">
      <router-view name="admin"></router-view>
    </div>

  </div>

</template>

<script>
import Header from "./Header";
import Footer from "./Footer";

export default {
  name: "Admin",
  data() {
    return {
      message: '',
      
    };
  },
  components: {
    Footer,
    Header
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
