<template>
    <div class="container">
      <div class="row">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th colspan="2"> {{dane.name}} </th>
              </tr>
              <tr>
                <th>index. key:</th>
                <th>value</th>
              </tr>
            </thead>
            <tbody>

              <tr v-for="(value,key,index) in dane" :key="key" @click="edit=key">
                <th scope="row">
                    {{index}}. {{key}}:
                </th> 

                <td>
                  <div v-if="edit===key" >
                      <input v-on:keyup.13="save()" v-model="dane[key]" />
                      <button class="btn btn-success" @click="save()"> save </button>
                  </div>

                  <div v-else>
                      <span>{{value}}</span>
                  </div>
                    
                </td> 
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
</template>

<script>
import axios from "axios"

export default {
  name:"CategoryDetails",
  data() {
    return {
      dane:[],
      edit: null,
      error: [],
      form:[],
    }
  },
  
  created() {
    var id = this.$route.params.id;
    axios
      .get(`http://czk.myftp.org:8081/Restaurant/category/`+id)
      .then(response => {
        this.dane = response.data
      })
      .catch(e => {
        this.errors.push(e.code)
      })
  },
  methods:{

      save() {
        var id = this.$route.params.id;
        axios
          .patch(`http://czk.myftp.org:8081/Restaurant/category/`+id, this.dane )
          .then( response => {
            console.log(response)
          })
          .catch(e => {
            this.errors.push(e)
          })
          .then( () => {
            this.edit = null
          })
      },

      remove(){
        var id = this.$route.params.id;
        axios.delete("http://czk.myftp.org:8081/Restaurant/category/"+id)
          .then(response => {
            console.log(response)
          })
          .catch(e => {
            this.errors.push(e)
          })
      }
  }
}
</script>
