<template>
    
	 <div>
      <div class="row">
        <b-table striped bordered hover :items="dane" :fields="fields"></b-table>
      </div>
      <div class="row">
        
        <div v-if="dane && dane.length" class="list-group">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th :colspan="Object.keys(dane[0]).length"> {{$route.name}} </th>
              </tr>
              <tr>
                <th v-for="(daneValue,daneKey) in dane[0]" :key="daneKey">{{daneKey}}</th>
              </tr>  
            </thead>
            <tbody>
              
                <tr v-for="(items,keyitem) in dane" :key="keyitem">
                  
                  <td v-for="(wartosc,klucz) in items" :key="klucz" @click="edit=keyitem">
                   
                    <router-link :to="{path:`${items.id}`}" >
                      {{wartosc}}
                    </router-link>

                  </td>
                 
                </tr>
               
            </tbody>
          </table>
             
        </div>

        <ul v-if="errors && errors.length">
           <li v-for="error of errors" v-bind:key="error">
          errors: {{error.message}} 
        </li>
        </ul>
        </div>
  
	 </div>
</template>

<script>
import axios from "axios"

export default {
  name: "Category",
  props: ['id'],
  data() {
    return {
      dane: [],
      errors: [],
      fields: [
        { key: "id" , sortable : 1 },
        { key: "sortNumber", sortable : 1 },
        { key: "name", sortable : 1 },
        { key: "description", sortable : 0 },
        { key: "visible", sortable : 1 }

      ],
    };
  },
  created() {
    axios
      .get("http://czk.myftp.org:8081/Restaurant/category")
      .then(response => {
        // JSON responses are automatically parsed.
        this.dane = response.data;
      })
      .catch(e => {
        this.errors.push(e);
      });
  }
}
</script>