<template>

  <div class="col-md-12">
    <div class="row justify-content-center">
      <div class="col-auto">
        <b-nav pills>
          <b-nav-item>
            <router-link :to="{name:'Header'}">header</router-link>
          </b-nav-item>
          <b-nav-item>  
            <router-link :to="{name:'Home'}">index</router-link>
          </b-nav-item>
          <b-nav-item>
            <router-link :to="{name:'Footer'}">footer</router-link>
          </b-nav-item>
          <b-nav-item>
            <router-link :to="{name:'AboutProject'}">about project</router-link>
          </b-nav-item>
        </b-nav>
      </div>
      <div class="col-auto ">
        <b-nav>
          <b-nav-item>
            <span v-html="msg"></span>
          </b-nav-item>
        </b-nav>
      </div>
    </div>
    <div class="row justify-content-center">
      <img src="../assets/logo.png" height="50px"> <img src="../assets/java.png" height="50px">
    </div>
  </div>

</template>

<script>
export default {
  name: 'Footer',
  data () {
    return {
      msg: 'made by <a href="mailto:krzysztof@czeladko.com">krzysztof[at]czeladko</a> 2018 '
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
