<template>

    <div class="col-md-12">
      <div class="row">
        <b-nav pills>
          <b-nav-item>
            <router-link :to="{name:`Home`}" > Home </router-link>
          </b-nav-item>
          <b-nav-item>
            <router-link to="/Menu" exact>Menu</router-link>
          </b-nav-item>
          <b-nav-item>
            <router-link to="/Order" exact>Order</router-link>
          </b-nav-item>
          <b-nav-item>
            <router-link :to="{name: 'Admin'}"> Admin </router-link>
          </b-nav-item>
        </b-nav>
      </div>
    </div>

</template>

<script>
export default {
  name: "Header",
  data() {
    return {
      hmsg: "Welcome in restaurant"
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
