<template>

  <div class="container">

    <div class="header">
      <Header />
    </div>

    <div class="body">
        <router-view class="view one"></router-view>
        <router-view class="view two" name="two"></router-view>
    </div>

    <div class="footer">
      <Footer />
    </div>
    
  </div>

</template>

<script>
import Header from "./Header";
import Footer from "./Footer";

export default {
  name: "Index",
  data() {
    return {
      
    };
  },
  components: {
    Footer,
    Header,
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
