<template>
    
	 <div class="container">

      <div class="row">
        
        <h1></h1>

        <div v-if="dane && dane.length" class="list-group">
             <div v-for="(dan,index) of dane" :key="index" class="list-group-item" >
                  <router-link :to="{path:`${dan.id}`}">
                      <div class="row">
                        <div class="col-md-8"><p><strong>#{{dan.id}}  {{dan.name}} </strong></p>
                          <p>{{dan.description}}</p>
                          <p>{{dan.price}} PLN</p></div>
                        <div class="col-md-4"><img v-bind:src="dan.photoUrl" height="200px"/>
                        </div>
                      </div>
                </router-link>
             </div>
        </div>

        <ul v-if="errors && errors.length">
           <li v-for="error of errors" v-bind:key="error">
          {{error.message}} 
        </li>
        </ul>
        </div>
  
	 </div>
</template>

<script>
import axios from "axios"

export default {
  name: "Product",
  props: ['id'],
  data() {
    return {
      dane: [],
      errors: []
    };
  },
  created() {
    axios
      .get("http://czk.myftp.org:8081/Restaurant/product")
      .then(response => {
        // JSON responses are automatically parsed.
        this.dane = response.data;
      })
      .catch(e => {
        this.errors.push(e);
      });
  }
}
</script>