<template>
    <div class="container">
      <div class="row">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th colspan="2">
                  {{dane.name}}
                </th>
              </tr>
            </thead>
            <tbody>

              <tr v-for="(value,key) in dane" :key="key">
                <th scope="row">
                    {{key}}
                </th> 

                <td>
                    {{value}}
                </td> 
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
</template>

<script>
import axios from "axios"

export default {
  name:"ProductDetails",
  data() {
    return {
      dane:[],
      
    }
  },
  created() {
    var id = this.$route.params.id;
    axios
      .get(`http://czk.myftp.org:8081/Restaurant/Product/`+id)
      .then(response => {
        // JSON responses are automatically parsed.
        this.dane = response.data;
      })
      .catch(e => {
          errors
        this.errors.push(e);
      });
  }
}
</script>