<template>
    <div class="row">
        <div class="col-md-8 border border-info ">
            <h1>Project description</h1>
            <div class="text-justify">
                <span v-html="project_description"></span>
            </div>
        </div>
        <div class="col-md-4 border">
            <h2>other content</h2>
            <p>
                {{other_content}}
            </p>
        </div>
    </div>
</template>

<script>
export default {
  name: "Project",
  data() {
      return {
        other_content:" 'home' / 'index' / 'root' / '/' content ",
        project_description : `
        <p>
        This is my upgrade to final project made at coders bootcamp at coderslab.pl ( 360 hours - 6-8 week + own time )
        </p>
        <p>
        Final project to manage restaurant 
        <a href="https://bitbucket.org/krzysztofcze/restaurant">https://bitbucket.org/krzysztofcze/restaurant</a>
        ( more info under the link ). 
        </p>
        <p>
        At course I used sitemesh 3 to avoid boilerplate code in jsp views, and any way I stared 
        seeing that jsp for me are not so efficient like I want to be, and take more time for 
        simple changes. But I was in rush and this decision with sitemesh in version 3 was shot 
        in the knee. I didn't check if my choose was still maintained by the developers, and it 
        wasn't from 2015 ( last comits in code at github ). When I would like add some new 
        features ( REST Api, swagger , spring security ) their dependencies got some problems 
        with sitemesh. So I decided to solve it somehow.
        </p>

        <p>
        I've  decided to split my web application to front-end and back-end.
        <br>
        Before any decision I read and watched a few interesting articles and videos where 
        some devs way more experience than me compared different front-end frameworks. 
        From Angular ( by google ) , React ( by facebook) and Vue.js ( by Evan You ). 
        I choose the Vue.js. Back-end site its gonna be of course REST Api solution 
        from my old project, but I'm still thinking about rewrite it to spring-boot 
        to use auto-generating endpoint from repositories to REST Api.
        </p>
        <p>
        
            <ul>
            <h3>This front end are made by vue.js where I learn and still learning :</h3>
                <li>
                    npm ( now I'm running this front-end in dev mode : <i>npm run dev</i>, 
                    at final i'll build it by : <i>npm run build</i> and get files from dist folder ) 
                </li>
                <li>
                    vue-cli
                </li>
                <li>
                    vue-router ( building sitemap tree with childrens )
                </li>
                <li>
                    router-view ( the hardest one for me was to understood nested and more than one router-view at site )
                </li>
                <li>
                    dynamic loading components
                </li>
                <li>
                    b-table :items="our_object"<br> 
                    ( bootstrap-vue auto generating table from object in one line )
                </li>
                <li>
                    axios ( I hate it , spend maybe 4 hour to solve problem why 
                    axios.patch is not working but I'm getting repond 200 wrrrr, 
                    at back-end console I was watching hibernate logs to mysql db 
                    where select was appearing but update, read more articles about 
                    problem and stackover flow and couldn't find the solution, finally 
                    I decided to back to STS and read what the tooltip says when you 
                    hold mouse over the axios."patch" method and solve it, I got wrong 
                    arguments structure in { }, where I should just set url as a string
                    and after coma my object with data's to patch w/o any {} )
                </li>
            </ul>
        </p>
        <p>
            <ul>
                <h3>ToDo</h3>
                <li>
                    resposive CRUD for my entities from project
                </li>
                <li>
                    security: user ( emplyee, not customers ) with roles and privileges, 
                    maybe group of roles ( owner, manager(s), kitchen chiefs, waitresses ,
                     for easier managment of roles and privileges
                </li>
                <li>
                    maybe rewrite back-end to spring-boot
                </li>
                <li>
                    CORS POST PUT PATCH DELETE only with AUTH <br>
                    some GET also only with AUTH 
                </li>
                <li>
                    ...
                </li>
            </ul>
        </p>
        `
      };
  },
}
</script>
